a{
	font-family: serif;
}

@font-face {
    font-family: 'caslon';
    src: url('../CaslonGraphique.ttf') format('truetype');
    font-weight = normal;
    font-style = normal;
}

h1{
	color: #black;
	text-align: left;
	font: caslon ;
	margin-left: 5%;
	margin-top: 5%;
	background: -webkit-linear-gradient(pink, purple);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

p{
	font-family: caslon;
	font-size: 15px;
	text-align: center;
}

footer{
	text-align: center;
	font: serif;
}

body{
	background-color: white;
}

.constainer{
	padding: 2px 16px;
}

#pink {
    background-color: #ffe5f9;
    opacity: 0.5;
}

#card-1 {
    border: 2px solid black;
    background-color: #FFFFFF;
    width: 270px;
    height: 340px;
    z-index: 1;
    position: fixed;
    top: 40%;
    left: 11%;
    margin: -200px 0 0 -140px;
}

#card-2 {
    background-color: pink;
    background-image: url("waves.jpg"); object-fit: cover;
    background-size: 300px 300px;
    border: 2px solid black;
    width: 270px;
    height: 340px;
    z-index: 0;
    position: fixed;
    top: 40%;
    left: 11%;
    margin: -185px 0 0 -125px;
}

#card-3 {
    border: 2px solid black;
    background-color: #ffffff;
    width: 270px;
    height: 340px;
    z-index: -1;
    position: fixed;
    top: 40%;
    left: 11%;
    margin: -170px 0 0 -110px;
}

.another-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
}

.circle-container {
    display: flex;
    padding: 0;
    margin: 0;
}

.card-child{
    padding: 20;
    margin: 0;
    text-align: left;
}

.card-child-bottom{
    padding: 0;
    margin-bottom: 15px;
}

.inside-card-line1 {
    text-decoration: underline;
    padding: 20;
    margin-top: 10%;
    line-height: normal;
}

.inside-card-line2 {
    text-decoration: underline;
    padding: 20;
    margin-top: 0%;
    line-height: normal;
}

.index-link {
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 0px;
    color: #000000;
    text-decoration: none;
    border: none;
}
